.app__laurels_awards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}

@media screen and (max-width: 45rem) {
	.app__laurels_awards {
		display: grid;
		grid-template-columns: 1fr;
	}
}
