.app__header {
	background: var(--color-black);
}

.app__header-h1 {
	font-family: var(--font-base);
	color: var(--color-golden);
	letter-spacing: 0.04em;
	text-transform: uppercase;
	line-height: 11rem;
	font-size: 8rem;
}

@media screen and (max-width: 45rem) {
	.app__header-h1 {
		font-size: 4rem;
	}
}
